* {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
@font-face {
    font-family: logofont;
    src: url(fonts/ReklameScript-Regular_DEMO.otf);    
}
@font-face {
	font-family: LatoBlack;
    src: url(fonts/Lato-Black.ttf);
}
@font-face {
	font-family: LatoLight;
    src: url(fonts/Lato-Light.ttf);
}
@font-face {
	font-family: LatoLightItalic;
    src: url(fonts/Lato-LightItalic.ttf);
}
@font-face {
	font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
.header {
	background: #262626;
	height: 100px;	
}
.menu {
	background:transparent;
	margin-top: 25px;

}
.header .menu .navbar-default {
	background: #262626;
	border: 0px;
	font-color:#ffffff;
}
.logofont {
	font-family: logofont;
	font-size: 28px;
	color:#b7b7b7;	
}
.header .fontmenu li a {
	font-family: LatoBlack;
	font-size: 16px;
	text-transform: uppercase;
	color:#b7b7b7;
}
.header .fontmenu li a:hover {
	color: #ff6760;
}
.banner {
	background-color:black;
	height: 400px;
	color: #d9d9d9;
}
.slider {
	padding: 60px 50px;
}
.banner .slider .slider-slogan h3 {
	font-family: LatoBlack;
	font-size: 500%;
}
.banner .slider .slidertext {
	font-family: LatoLightItalic;
	font-size: 200%;
}
.slider-button {
	background-color: #ff6760;
	font-size:14pt;
	font-family: LatoBlack;
	text-transform: uppercase;
	color:white;
	border: none;
	width: 200px;
	height: 50px;
	border-radius: 10px;
}
.gioithieu {
	height: 400px;
	background-color: #f8f8f8;
	text-align: center;	
}	
.dichvu {
	padding:100px 0;
}
.tddichvu {
	padding-top: 20px;
}
.pdichvu {
	padding-bottom: 10px;
}
.Latoblack {
	font-family: LatoBlack;
}
.pic {
	background-color: white;
	height: 1050px;
}
.slogan-pic {
	margin-top:60px;
}
.slogan-pic-tde h3 {
	font-size: 3em;
	color:#616161;
}
.pic .slogan-pic-des p {
	font-size:2em;
	color: #6b6b6b;
}
.button-galery {
	margin-top:4em;
}
.button-anh {
	background-color: #ff6760;
	border-radius: 8px;
	width:auto;
	height: 3em;
	text-transform: uppercase;
	font-size: 1em;
	color: white;
}
.button-anh button:active {
	background-color: black;
	border:none;
}
.gallery {
	margin-top: 2em;
}
.pic-edit {
	padding: 10px 5px;
}
.rss {
	background-color: white;
	color: #f3b25b;
}
.facebook {
	background-color: #5883c0;
	color: white;
}
.twitter {
	background-color: #63bee0;
	color: white;
}
.envelope {
	background-color: #d35051;
	color: white;
}

@media only screen and (min-width: 	375px) and (max-width:1000px) {
	.banner .slider .slider-slogan h3  {
		font-size: 	250%;
	}
	.banner .slider .slidertext {
		font-size: 	180%;
	}
	.slider-button {
		background-color: #ff6760;
		font-size:10pt;
		font-family: LatoBlack;
		text-transform: uppercase;
		color:white;
		border: none;
		width: 150px;
		height: 37px;
		border-radius: 7px;
	}
	.gioithieu {
		height: 700px;
	}
	.dichvu {
	padding:20px 0;
	}
}	 
@media only screen and (max-width:374px) {
	.banner .slider .slider-slogan h3  {
		font-size: 	200%;
	}
	.banner .slider .slidertext {
		font-size: 	150%;
	}
	.slider-button {
	background-color: #ff6760;
	font-size:7pt;
	font-family: LatoBlack;
	text-transform: uppercase;
	color:white;
	border: none;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	}
	.gioithieu {
		height: 700px;
	}
	.dichvu {
	padding:20px 0;
	}
	.pic-edit {
		width: 100%;
		text-align: center;
	}
}

